<nav class="flex items-center justify-between flex-wrap bg-gray-800 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <span class="font-bold text-2xl">EBS Party Fund Manager</span>
  </div>
  <div class="w-full block flex-grow sm:flex sm:items-center sm:w-auto">
    <div class="text-lg sm:flex-grow">
      <a routerLink="/transaction-list"
        class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white mr-4"
      >Transaction-List</a>
      <a routerLink="/user-list"
        class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white mr-4"
      >User List</a>
      <a routerLink="/user"
        class="block mt-4 sm:inline-block sm:mt-0 text-teal-200 hover:text-white">
        User</a>
    </div>
    <div>
      <a routerLink=""
        class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white mr-4 hover:border-transparent hover:text-blue-500 hover:bg-white mt-4 md:mt-0"
        >Login</a>
      <a routerLink="/transaction"
        class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white mr-4 hover:border-transparent hover:text-blue-500 hover:bg-white mt-4 md:mt-0"
        >Add transaction</a>
      <a routerLink="/signup"
        class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-blue-500 hover:bg-white mt-4 md:mt-0"
        >Add User</a>
    </div>
  </div>
</nav>
