.transaction-container {
  height: 450px;
  margin-top: 5em;
  margin-left: 12px;
}

.transClass {
  width: 100%;
}

.mat-header-cell {
  width: 40% !important;
  font-size: 17px;
}

.info-text {
  text-align: center;
  margin-top: 5em;
}

